frontend http_frontend
        bind *:80
        default_backend http_backend
backend http_backend
        mode http
        mode http
        balance roundrobin
        server web01 web01:80 check
        server web02 web02:80 check
